
-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/aws/-/avatar"> [**Amazon Web Services**](aws)

    ---

    Deploy your application to [Amazon Web Services](https://aws.amazon.com/)

    Version: `2.3`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/angular/-/avatar"> [**Angular**](angular)

    ---

    Build, test and analyse your [Angular](https://angular.io/) projects

    Version: `4.2`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/ansible/-/avatar"> [**Ansible**](ansible)

    ---

    Provision your infrastructure and deploy your application with [Ansible](https://www.ansible.com/)

    Version: `3.4`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/bash/-/avatar"> [**Bash**](bash)

    ---

    Test and analyse your shell code

    Version: `3.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/cloud-foundry/-/avatar"> [**Cloud Foundry**](cloud-foundry)

    ---

    Deploy your application to a [Cloud Foundry](https://www.cloudfoundry.org/) platform

    Version: `2.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/cnb/-/avatar"> [**Cloud Native Buildpacks**](cnb)

    ---

    Transform your application source code into images that can run on any cloud with [Cloud Native Buildpacks](https://buildpacks.io/)

    Version: `1.0`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/cypress/-/avatar"> [**Cypress**](cypress)

    ---

    Run your automated (web) tests with [Cypress](https://www.cypress.io/)

    Version: `3.2`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/docker/-/avatar"> [**Docker**](docker)

    ---

    Build, check and inspect your containers with [Docker](https://www.docker.com/)

    Version: `3.5`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/gitleaks/-/avatar"> [**Gitleaks**](gitleaks)

    ---

    Detect and prevent hardcoded secrets in your Git repository with [Gitleaks](https://github.com/zricethezav/gitleaks/wiki)

    Version: `2.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/golang/-/avatar"> [**Go**](golang)

    ---

    Build, test and analyse your [Go](https://golang.org/) projects

    Version: `4.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/gcloud/-/avatar"> [**Google Cloud**](gcloud)

    ---

    Deploy your application to the [Google Cloud](https://cloud.google.com/) platform

    Version: `2.3`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/gradle/-/avatar"> [**Gradle**](gradle)

    ---

    Build, test and analyse your [Gradle](https://gradle.org/)-based projects

    Version: `2.2`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/helm/-/avatar"> [**Helm**](helm)

    ---

    Build your Helm Charts and/or deploy your application to a Kubernetes platform using [Helm](https://helm.sh/)

    Version: `4.0`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/kubernetes/-/avatar"> [**Kubernetes**](kubernetes)

    ---

    Deploy your application to a [Kubernetes](https://kubernetes.io/) platform using [declarative configuration](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/) or [Kustomize](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/)

    Version: `3.3`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/maven/-/avatar"> [**Maven**](maven)

    ---

    Build, test and analyse your [Maven](https://maven.apache.org/)-based projects

    Version: `3.2`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/mkdocs/-/avatar"> [**MkDocs**](mkdocs)

    ---

    Build your static website with [MkDocs](https://www.mkdocs.org/)

    Version: `2.0`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/mobsf/-/avatar"> [**MobSF**](mobsf)

    ---

    Perform pen-testing, malware analysis and security assessment for mobile applications with [Mobile Security Framework](https://github.com/MobSF/Mobile-Security-Framework-MobSF) (MobSF)

    Version: `2.0`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/node/-/avatar"> [**Node.js**](node)

    ---

    Build, test and analyse your JavaScript/TypeScript/[Node.js](https://nodejs.org/) projects

    Version: `3.5`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/openshift/-/avatar"> [**OpenShift**](openshift)

    ---

    Deploy your application to an [OpenShift](https://www.openshift.com/) platform

    Version: `2.2`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/php/-/avatar"> [**PHP**](php)

    ---

    Build, test and analyse your [PHP](https://www.php.net/) projects

    Version: `4.2`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/postman/-/avatar"> [**Postman**](postman)

    ---

    Run your automated (API) tests with [Postman](https://www.postman.com/automated-testing)

    Version: `3.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/puppeteer/-/avatar"> [**Puppeteer**](puppeteer)

    ---

    Run your automated (web) tests with [Puppeteer](https://pptr.dev/)

    Version: `3.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/python/-/avatar"> [**Python**](python)

    ---

    Build, test and analyse your [Python](https://www.python.org/) projects

    Version: `6.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/robotframework/-/avatar"> [**Robot Framework**](robotframework)

    ---

    Run your automated tests with [Robot Framework](https://robotframework.org/)

    Version: `3.2`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/s3/-/avatar"> [**S3 (Simple Storage Service)**](s3)

    ---

    Deploy your objects to any [S3](https://en.wikipedia.org/wiki/Amazon_S3) (Simple Storage Service) compatible object storage service

    Version: `4.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/sqlfluff/-/avatar"> [**SQLFluff lint**](sqlfluff)

    ---

    Lint your SQL files (whichever your dialect) with [SQLFluff](https://docs.sqlfluff.com)

    Version: `1.0`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/sonar/-/avatar"> [**SonarQube**](sonar)

    ---

    Continuously inspect your codebase with [SonarQube](https://www.sonarqube.org/)

    Version: `3.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/terraform/-/avatar"> [**Terraform**](terraform)

    ---

    Manage your infrastructure with [Terraform](https://www.terraform.io/)

    Version: `3.6`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/testssl/-/avatar"> [**Test SSL**](testssl)

    ---

    Test your TLS/SSL servers compliance with [Test SSL](https://testssl.sh/)

    Version: `3.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/dbt/-/avatar"> [**dbt**](dbt)

    ---

    Continuously integrate and deploy your data with [dbt](https://www.getdbt.com/)

    Version: `1.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/defectdojo/-/avatar"> [**DefectDojo**](defectdojo)

    ---

    Import security reports into [DefectDojo](https://www.defectdojo.org/)

    Version: `2.0`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/k6/-/avatar"> [**k6**](k6)

    ---

    Run your automated load-testing with [k6](https://k6.io/)

    Version: `3.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/sbt/-/avatar"> [**Scala/SBT**](sbt)

    ---

    Build, test and analyse your [sbt](https://www.scala-sbt.org/)-based projects

    Version: `1.1`

-   <img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/semantic-release/-/avatar"> [**semantic-release**](semantic-release)

    ---

    Automate your versionning and release management with [semantic-release](https://github.com/semantic-release/semantic-release)

    Version: `3.2`

